.app {
  display: flex;
  height: 100vh;
}

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  width: 20%;
  overflow-y: auto; /* Add this to handle overflow */
}

.sidebar {
  background-color: #f1f1f1;
  overflow-y: auto;
  width: 200px;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.droppable-area {
  position: relative;
  flex-grow: 1;
  background-color: #e9e9e9;
  border: 1px dashed #ccc;
}
